#btnCadastrar{
    transition: ease 1s all;
}

#exampleFormControlInput1{
    width: 200px;
    margin: 0px 20px 0px 0px;
    


}

.divFlex{
    display: flex;
 

    
    
}

.a label{
    font-size: 15px;
    

}

body{
    margin: 20px;
}

form{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}

#p{
    background-color: blue;
}

.reto{
    display: flex;
    flex-direction: column;
}

/* main{
    margin-top: 500px;
    display: flex;
    flex-wrap: wrap;
} */