/* Font */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}
.primeira {
  margin: 1rem;
  padding-top: 6rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
}


/* Container de cursos */
.title {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title h2 {
  color: #400f80;
  font-family: 'Russo One';
}

.title p {
  color: #762fcf;
  font-size: 1.1rem;
}

.card-size {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.card-content img{
  width: 11rem;
  height: 9rem;

}

.card-content {
  padding: 5px;
  margin: 1.2rem;
  box-shadow: 10px 10px 8px #bbbbbb;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 0;
  background-color: #9244f3;
  background-clip: border-box;
  border: 1px solid #9244f3;
  border-radius: 0.5rem;
}
.card-content:hover{
  background-color: #5808b9;
 color: rgb(0,0,0);
 text-decoration: none;
 transform: scale(1.1);
 transition: all 0.5s;
}

.card-content h3 {
  font-size: 18px;
}
.card-body {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  color: white;
}

.card-text {
  color: #400f80;
}

.card-button {
  border: 1px solid #400f80;
  border-radius: 1rem;
  background-color: #400f80;
  color: #f9b850;
  padding: 0.5rem 2rem;
  font-size: 15px;
}

.card-button:hover {
  background-color: #400f80;
  border: 1px solid #9244f3;
  color: #ff9d00;
}

/* Fim do container de cursos */


/* Início do formulário do Login */
#second {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  width: 40%;
  display: flex;
}

.login-container {
  margin-top: 4rem;
  box-shadow: 1px 1px 8px #331561;
  height: 33rem;
  width: 25rem;
  border-radius: 25px;
  background-color: #f8f8f8;
}

.my-h2{
  margin-top: 1.5rem;
  color:#400f80;
}

.my-p{
  color: #f9b850;
  margin: 1rem;
}

.emailPassword{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailPassword input{
  text-align: center;
  padding: 1rem;
  width: 20rem;
  border-radius: 25px;
  border:2px solid #400f80;
}

.email{
  margin-bottom: 1rem;
}

.remember-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

label{
  color: #f9b850;
}

.remember-content a{
  color: #f9b850;
}


.between button{
  margin: 2rem;
  background-color: #400d80;
  color: white;
  width: 10rem;
  height: 3rem;
  border-radius: 50px;
}

.between button:hover{
 background-color:#762FCF;
}

.or-between{
  color: #f9b850;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
margin: 1rem;


}

.box img{
  width: 2rem;
}

/* Fim fo formulário do Login */