main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}
.primeira {
  padding-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title h2 {
  color: #400f80;
}

.title p {
  color: #762fcf;
}

.card-size {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0rem;
  width: 80%;
  margin-bottom: 1rem;
}

.card-content {
  padding: 5px;
  margin: 0.8rem;
  box-shadow: 10px 10px 8px #bbbbbb;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #9244f3;
  background-clip: border-box;
  border: 1px solid #9244f3;
  border-radius: 0.5rem;
}

.card-content h3 {
  font-size: 18px;
}
.card-body {
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  color: white;
}

.card-text {
  color: #400f80;
}

.card-button {
  border: 1px solid #400f80;
  border-radius: 1rem;
  background-color: #400f80;
  color: #f9b850;
  padding: 0.5rem 2rem;
  font-size: 15px;
}

.card-button:hover {
  background-color: #400f80;
  border: 1px solid #9244f3;
  color: #ff9d00;
}
.card-size2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0rem;
  width: 95%;
  margin-bottom: 1rem;
}

.second {
  display: flex;
  flex-direction: column;
 align-items: center;
  background-color: #ffffff;
  padding: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-container {
  margin-left: 8rem;
  margin-top: 5.5rem;
  border: 5px solid #400d80;
  height: 33rem;
  width: 25rem;
  border-radius: 25px;
  background-color: #f8f8f8;
}


